{# Footer #}
<!-- BEGIN Footer -->
<footer class="footer">
    <div class="container">
        <div class="row social-bar">
            <div class="pull-left">
                <p class="text-muted copyright">&copy; Daniil Sydorenko {{ "now"|date("Y") }}</p>

                <p class="email">
                    <a href="mailto:daniildeveloper@gmail.com">daniildeveloper@gmail.com</a>
                </p>
            </div>

            <div class="pull-right">
                <div class="social-nav pull-left">
                    <ul>
                        <li>
                            <a class="no-fade twitter" href="https://twitter.com/dansydorenko" target="_blank" title="I am on Twitter">
                                <span aria-hidden="true" class="social_twitter"></span>
                            </a>
                        </li>
                        <li>
                            <a class="no-fade facebook" href="https://www.facebook.com/daniil.sydorenko" target="_blank" title="I am on Faceebook">
                                <span aria-hidden="true" class="social_facebook"></span>
                            </a>
                        </li>
                        <li>
                            <a class="no-fade linkedin" href="https://www.linkedin.com/profile/view?id=AAEAABUjdPcBQe6I5e2NkmAZqtZwV7MKpRrZFbM" target="_blank" title="I am on Linkedin">
                                <span aria-hidden="true" class="social_linkedin"></span>
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</footer>
<!-- END Footer -->
</div>
<!-- END page content -->

<!-- JavaScript
================================================== -->
<script src="/js/vendor/bootstrap.min.js" type="text/javascript"></script>
</body>
</html>