            {# Footer #}
            </section>
            <!-- END Main content -->
            <!-- BEGIN Footer -->
            <footer class="footer">
                <div class="container">
                    <p class="text-muted"><a href="https://about.me/dsydorenko" target="_blank" title="By Daniil Sydorenko">By Daniil Sydorenko</a> &copy;{{ "now"|date("Y") }}</p>
                </div>
            </footer>
            <!-- END Footer -->
        </div>
        <!-- END page content -->

        <!-- JavaScript
        ================================================== -->
        <script src="/js/vendor/modernizr.custom.js" type="text/javascript"></script>
        <script src="/js/vendor/bootstrap.filestyle.min.js" type="text/javascript"></script>
        <script src="/bootstrap/dist/js/bootstrap.min.js" type="text/javascript"></script>
    </body>
</html>