<!-- BEGIN page content -->
<div class="debris-main">
        <!--  BEGIN Header -->
        <header class="container header">
            <nav class="navbar navbar-default navbar-fixed-top">
                <div class="container">
                    <div class="navbar-header">
                        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                            <span class="sr-only">Toggle navigation</span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                        </button>
                        <a class="navbar-brand" href="/">&lt;/Debris&gt;</a>
                    </div>
                    <div id="navbar" class="collapse navbar-collapse">
                        {#<ul class="nav navbar-nav">#}
                            {#<li class="nav-url-snr"><a href="http://debris.dev/">url shortener</a><div class="line-snr"></div></li>#}
                            {#<li class="nav-meta-extr"><a href="http://debris.dev/parser/">file parser</a><div class="line-extr"></div></li>#}
                        {#</ul>#}
                        <ul class="nav navbar-nav navbar-right">
                            <li id="fat-menu" class="dropdown">
                                <a id="drop3" class="dropdown-toggle">
                                    What I have?
                                </a>
                                <ul class="dropdown-menu" role="menu" aria-labelledby="drop3">
                                    <li><a href="/">Url Shortener</a></li>
                                    <li><a href="/parser">File Parser</a></li>
                                    <li><a href="/generator">Sitemap Generator</a></li>
                                    <li class="divider"></li>
                                    <li><a href="https://about.me/dsydorenko" target="_blank" title="About me">Who I am</a></li>
                                </ul>
                            </li>
                        </ul>
                    </div>
                </div>
            </nav>
        </header>
        <!-- END Header -->