/*---------------------------------------------------------------------------
[Helper Stylesheet]

Project:        Debris
Version:        1.0
Author:         Daniil Sydorenko daniildeveloper@gmail.com
------------------------------------------------------------------------------*/

/* ==========================================================================
   Common styles
   ========================================================================== */

