/*---------------------------------------------------------------------------
[Main Stylesheet]

Project:        Debris
Version:        1.0
Author:         Daniil Sydorenko daniildeveloper@gmail.com
------------------------------------------------------------------------------*/

/* Fonts
------------------------------------------------------------------------------*/
@font-face {
    font-family: 'RobotoLight';
    src: url('../fonts/Roboto-Light-webfont.eot');
    src: url('../fonts/Roboto-Light-webfont.eot?#iefix') format('embedded-opentype'),
    url('../fonts/Roboto-Light-webfont.woff') format('woff'),
    url('../fonts/Roboto-Light-webfont.ttf')  format('truetype'),
    url('../fonts/Roboto-Light-webfont.svg#svgFontName') format('svg');
}

@font-face {
    font-family: 'LatoLight';
    src: url('../fonts/Lato-Light.eot'),
    url('../fonts/Lato-Light.woff') format('woff'),
    url('../fonts/Lato-Light.ttf')  format('truetype');
}


/* ==========================================================================
   Custom styles
   ========================================================================== */

.debris-main {
    margin-top: 100px;
}

/* Header
------------------------------------------------------------------------------*/

button {
    background: #fff;
    border: 1px solid #ccc;
    display: inline-block;
    padding: 7px 32px;
    border-radius: 2px;
}

button:hover {
    background: #92dce0;
    color: white;
    border-color: #aaa;
    -o-transition: .5s;
    -ms-transition: .5s;
    -moz-transition: .5s;
    -webkit-transition: .5s;
    transition: .5s;
}

button:disabled {
    background-color: #DDD!important;
    cursor: default;
    color: rgba(0,0,0,.5)!important;
    opacity: .3!important;
    background-image: none!important;
    -webkit-box-shadow: none!important;
    box-shadow: none!important;

    -o-transition: .5s;
    -ms-transition: .5s;
    -moz-transition: .5s;
    -webkit-transition: .5s;
}

.form-control:focus {
    border-color: #92dce0;
    outline: 0;
    -webkit-box-shadow: inset 0 1px 1px #92dce0,0 0 8px #92dce0;
    -moz-box-shadow: inset 0 1px 1px #92dce0,0 0 8px #92dce0;
    box-shadow: inset 0 0 1px #92dce0,0 0 3px #92dce0;
}

.btn-disabled {
    background-color: #DDD!important;
    cursor: default;
    color: rgba(0,0,0,.5)!important;
    opacity: .3!important;
    background-image: none!important;
    -webkit-box-shadow: none!important;
    box-shadow: none!important;
}
.line-extr, .line-snr {
    width: 0;
    height: 3px;
    background-color: #92dce0;
}

/* Header */


.navbar {
    background: #FFFFFF !important;
    font-size: 14px;
    padding: 20px;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    transition: all 0.3s;
}

.navbar.shrink
{
    padding: 0;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    transition: all 0.3s;
}

.navbar.shrink .navbar-brand {
    font-size: 22px !important;
}

.navbar-brand {
    font-size: 30px !important;
}

.navbar-default .navbar-brand:focus, .navbar-default .navbar-brand:hover { font-size: 30px; }
.navbar .container { background-color: #ffffff; }
.navbar-default { background-color: transparent; border: 1px solid #f5f5f5; }
.navbar-default .navbar-nav>.active>a, .navbar-default .navbar-nav>.active>a:focus, .navbar-default .navbar-nav>.active>a:hover { background-color: transparent; }
#navbar > ul { position: relative; left: 40px; }
#navbar > ul > li > a { text-transform: uppercase; padding-right: 70px; padding-top: 19px; }

.dropdown .dropdown-toggle {
    cursor: pointer;
}

.dropdown-menu {
    box-shadow: none !important;
}

.dropdown:hover .dropdown-menu {
    display: block;
    -webkit-transition: all .2s ease-in-out;
    -moz-transition: all .2s ease-in-out;
    -o-transition: all .2s ease-in-out;
    transition: all .2s ease-in-out;
}

/* Content */
.center-block {
    margin-left: auto !important;
    margin-right: auto !important;
    float: none !important;
}


/* Section magic box */
.debris-magic-box {
    text-align: left;
}

.debris-magic-box .container {
    padding: 80px 0 120px 0;
}

.debris-magic-box .url-snr-public-text {
    padding: 50px;
    text-align: center;
}

.debris-magic-box .url-snr-public-text h4 {
    text-transform: uppercase;
    font-size: 25px;
}

.debris-magic-box .url-snr-error {
    display: none;
    color: #ff5555;
    font-size: 12px;
    text-align: center;
    vertical-align: middle;
    font-weight: 300;
    line-height: 14px;
}

/* Form*/
.debris-magic-box form #urlfield_url { height: 54px; }
.debris-magic-box form > i { position: absolute; padding: 19px; z-index: 100; }
.debris-magic-box form #urlfield .form-control { padding: 6px 12px 6px 42px; }

.debris-magic-box .btn {
    height: 54px;
}

/* URL-SNR Box */
.url-snr-box {
    height: auto;
    width: auto;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -ms-box-sizing: border-box;
    box-sizing: border-box;
}

.url-snr-box .url-snr-url-valid > .url-snr-box-lng i, .url-snr-box .url-snr-url-valid > .url-snr-box-srt i {
    font-size: 12px;
    position: absolute;
    left: 0;
    padding: 11px 10px 11px 25px;
}
.url-snr-box .url-snr-url-valid > .url-snr-box-lng .form-control {
    padding: 6px 12px 6px 26px;
}

.url-snr-box .url-snr-header {
    font-size: 14px;
    color: #000 !important;
}

.url-snr-box-content {
    width: 100%;
    min-height: 100px;
}

.url-snr-url-invalid {
    display: none;
    width: auto;
}

/* Section Goods */
.debris-goods {
    background: #f6f8f9;
}

.debris-goods .container {
    padding: 80px 0;
    margin: 0 auto;
}

/*  */
.glyph {
    margin: 0 auto;
    border-radius: 50%;
    border: 1px solid #d9d9d9;
    width: 105px;
    height: 105px;
    padding: 26px;
    font-size: 45px;
    background: #e9f0f5;
    cursor: pointer;
    color: #555;
    transition: all 0.25s linear;
}

.glyph:hover {
    background: #cfe8f5;
    color: #111;
}

/* Footer */
.footer {
    width: 100%;
    min-height: 50px;
    text-align: center;
    background-color: #FFFFFF;
    font-size: 14px;
    padding-top: 50px;
    text-transform: uppercase;
}

.footer .social-bar .email {

}

.footer .social-bar .email a {
    transition: all 0.4s linear;
    font-size: 11px;
}

.footer .social-bar .email a:hover {
    transition: all 0.4s linear;
    text-decoration: none;
}

.footer .social-nav ul {
    list-style-type: none;
    padding: 0;
    margin: 15px 0;
}

.footer .social-nav ul li {
    display: inline-block;
    padding: 0 15px;
}

.footer .social-nav ul li a {
    font-size: 22px;;
    color: #92ACBF;
}

/* ==========================================================================
   MEDIA QUERIES
   ========================================================================== */

@media (max-width: 767px) {
    /* Set header */
    .navbar {
        position: relative;
        margin-top: 0;
        padding: 10px;
    }

    .debris-magic-box {
        top: 55%;
    }

    /* Set urls fields */
    .url-snr-box-srt {
        float: none;
        width: 100%;
    }

    .url-snr-box-lng {
        float: none;
        width: 100%;
    }

    .url-snr-box-srt > h4, .url-snr-box-lng > h4 {
        font-size: 16px;
    }

    .url-snr-box-srt > div > input, .url-snr-box-lng > div > input {
        font-size: 12px;
    }

    .url-snr-public-text {
        padding: 45px;
    }

    .url-snr-public-text > h4 {
        font-size: 16px !important;
    }
}