/*---------------------------------------------------------------------------
[Main Stylesheet]

Project:        dbrs
Version:        1.0
Author:         Daniil Sydorenko daniildeveloper@gmail.com

MAP:
1. Fonts
2. Base styles
3. Helper styles
4. Custom styles
------------------------------------------------------------------------------*/


/* Fonts
------------------------------------------------------------------------------*/
@font-face {
    font-family: 'RobotoLight';
    src: url('../fonts/Roboto-Light-webfont.eot');
    src: url('../fonts/Roboto-Light-webfont.eot?#iefix') format('embedded-opentype'),
    url('../fonts/Roboto-Light-webfont.woff') format('woff'),
    url('../fonts/Roboto-Light-webfont.ttf')  format('truetype'),
    url('../fonts/Roboto-Light-webfont.svg#svgFontName') format('svg');
}

@font-face {
    font-family: 'LatoLight';
    src: url('../fonts/Lato-Light.eot'),
    url('../fonts/Lato-Light.woff') format('woff'),
    url('../fonts/Lato-Light.ttf')  format('truetype');
}


/* ==========================================================================
   Custom styles
   ========================================================================== */

html {

}

body {
    font: 13px/1.1em RobotoLight, "Helvetica Neue", Helvetica, Arial, sans-serif;
    color: #777777;
}

/* Links */
a {
    text-decoration: none !important;
}

/* Buttons */
button {
    background: #fff;
    border: 1px solid #ccc;
    display: inline-block;
    padding: 7px 32px;
    border-radius: 2px;
    outline: none;
}

button:hover {
    background: #92dce0;
    color: white;
    border-color: #aaa;
    -o-transition: .5s;
    -moz-transition: .5s;
    -webkit-transition: .5s;
    transition: .5s;
}

button:active,
button:focus {
    outline: none !important;
}

.btn:active,
.btn:focus {
    outline: none !important;
}

button:disabled {
    background: #DDDDDD none !important;
    cursor: default;
    color: rgba(0,0,0,.5)!important;
    opacity: .3!important;
    -webkit-box-shadow: none!important;
    box-shadow: none!important;
    -o-transition: .5s;
    -moz-transition: .5s;
    -webkit-transition: .5s;
}

.form-control:focus {
    border-color: #92dce0;
    outline: 0;
    -webkit-box-shadow: inset 0 1px 1px #92dce0,0 0 8px #92dce0;
    -moz-box-shadow: inset 0 1px 1px #92dce0,0 0 8px #92dce0;
    box-shadow: inset 0 0 1px #92dce0,0 0 3px #92dce0;
}

.btn-disabled {
    background-color: #DDD!important;
    cursor: default;
    color: rgba(0,0,0,.5)!important;
    opacity: .3!important;
    background-image: none!important;
    -webkit-box-shadow: none!important;
    box-shadow: none!important;
}

.dbrs-main {
    margin-top: 100px;
}


/* Header
------------------------------------------------------------------------------*/
.navbar {
    background: #FFFFFF !important;
    font-size: 14px;
    padding: 20px;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    transition: all 0.3s;
}

.navbar.shrink
{
    padding: 0;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    transition: all 0.3s;
}

.navbar.shrink .navbar-brand {
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    transition: all 0.3s;
    font-size: 22px !important;
}

.navbar.shrink .about-me > a {
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    transition: all 0.3s;
    font-size: 13px !important;
}


.navbar-brand {
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    transition: all 0.3s;
    font-size: 30px !important;
}

.navbar .about-me {
    text-transform: uppercase;
    padding-right: 70px;
    padding-top: 19px;
    cursor: pointer;
}

.navbar .about-me > a {
    color: #777777 !important;
}

/* Content
------------------------------------------------------------------------------*/
.center-block {
    margin-left: auto !important;
    margin-right: auto !important;
    float: none !important;
}


/* Section magic box */
.dbrs-magic-box {
    text-align: left;
}

.dbrs-magic-box .container {
    padding: 80px 0 120px 0;
}

.dbrs-magic-box .dbrs-public-text {
    padding: 50px;
    text-align: center;
}

.dbrs-magic-box .dbrs-public-text h4 {
    text-transform: uppercase;
    font-size: 25px;
}

.dbrs-magic-box .dbrs-error {
    display: none;
    color: #ff5555;
    font-size: 12px;
    text-align: center;
    vertical-align: middle;
    font-weight: 300;
    line-height: 14px;
}

/* Form
------------------------------------------------------------------------------*/
.dbrs-magic-box form .form-control {
    box-shadow: none;
    height: 54px;
}

.dbrs-magic-box form  .form-control:focus {
    border-color: #66afe9;
    outline: 0;
    -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075),0 0 8px rgba(102,175,233,.6);
    box-shadow: inset 0 1px 1px rgba(0,0,0,.075),0 0 8px rgba(102,175,233,.6);
}

.dbrs-magic-box form > i {
    position: absolute;
    padding: 19px;
    z-index: 100;
}

.dbrs-magic-box form #urlfield .form-control {
    padding: 6px 12px 6px 42px;
}

.dbrs-magic-box form .btn {
    height: 54px;
    text-transform: uppercase;
    font-size: 13px;
}

/* dbrs Box */
.dbrs-box {
    height: auto;
    width: auto;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -ms-box-sizing: border-box;
    box-sizing: border-box;
}

.dbrs-box .url-entity {
    border-bottom: 1px solid #f2f2f2;
    padding: 15px 0;
}

.dbrs-box .url-entity {

}

.dbrs-box-content a,
.dbrs-box-content-res a{
    display: block;
    overflow: hidden;
    margin: 0;
    width: 100%;
    text-align: left;
}

.dbrs-box-lng .dbrs-box-content > a,
.dbrs-box-lng-res .dbrs-box-content-res > a {
    font-size: 12px;
    color: #555555;
}

.dbrs-box .dbrs-header {
    font-size: 14px;
    color: #000 !important;
}

.dbrs-url-invalid {
    display: none;
    width: auto;
}

.dbrs-url-valid a > p {
    font-size: 34px;
    color: #777;
    border: 1px solid #ccc;
    padding: 6px;
    border-radius: 8px;
    margin: 0;
}

/* Section Goods
------------------------------------------------------------------------------*/
.dbrs-goods {
    background: #f6f8f9;
}

.dbrs-goods .container {
    padding: 80px 0;
    margin: 0 auto;
}


.dbrs-goods .learn-more {
    display: none;
    padding-top: 40px;
}

.dbrs-goods .learn-more .btn-default {
    background-color: transparent;
    padding: 12px 30px;
    font-size: 12px;
    text-transform: uppercase;
}

.dbrs-goods .learn-more .btn-default:hover {
    background: #e9f0f5;
}

.dbrs-goods .learn-more > div {
    background: url('../img/learn_more.gif') 0 0 repeat-x;
    padding-top: 23px;
    margin-top: 70px;
}

/* dbrs goods icons
------------------------------------------------------------------------------*/
.glyph {
    margin: 0 auto;
    border-radius: 50%;
    border: 1px solid #d9d9d9;
    width: 105px;
    height: 105px;
    padding: 26px;
    font-size: 45px;
    background: #e9f0f5;
    cursor: pointer;
    color: #555;
    transition: all 0.25s linear;
}

.glyph:hover {
    background: #cfe8f5;
    color: #111;
}

.glyph.active {
    background: #cfe8f5;
    color: #111;
}


.dbrs-learn-more {}

.dbrs-learn-more .goods-description {
    height: 0;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    transition: all 0.3s;
}


.dbrs-learn-more .goods-description .desc {
    height: 0;
    display: none;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    transition: all 0.3s;
}

.dbrs-learn-more .goods-description .desc.active {
    display: block;
    height: 150px;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    transition: all 0.3s;
}


/* Footer
------------------------------------------------------------------------------*/
.footer {
    width: 100%;
    min-height: 50px;
    text-align: center;
    background-color: #FFFFFF;
    font-size: 14px;
    padding: 50px 0;
    text-transform: uppercase;
}

.footer .social-bar .email {

}

.footer .social-bar .email a {
    transition: all 0.4s linear;
    font-size: 11px;
}

.footer .social-bar .email a:hover {
    transition: all 0.4s linear;
}

.footer .social-nav ul {
    list-style-type: none;
    padding: 0;
    margin: 15px 0;
}

.footer .social-nav ul li {
    display: inline-block;
    padding: 0 15px;
}

.footer .social-nav ul li a {
    font-size: 22px;
    color: #9FB5C5;
    -moz-transition: all .6s ease;
    -webkit-transition: all .6s ease;
    -o-transition: all .6s ease;
    transition: all .6s ease;
    border: 1px solid #e1e1e1;
    padding: 4px 9px;
}
.footer .social-nav ul li a:hover {
    -moz-transition: all .6s ease;
    -webkit-transition: all .6s ease;
    -o-transition: all .6s ease;
    transition: all .6s ease;
    -moz-transform: rotate(360deg);
    -webkit-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    transform: rotate(360deg);
}

.footer .social-nav ul li a.twitter:hover {
    color: #5EA9DD;
}

.footer .social-nav ul li a.facebook:hover {
    color: #49659F;
}

.footer .social-nav ul li a.linkedin:hover {
    color: #0C7AB6;
}


/* ==========================================================================
   MEDIA QUERIES
   ========================================================================== */

@media (max-width: 767px) {
    .dbrs-magic-box .container {
        padding-top: 60px;
    }

    .navbar {
        position: relative;
        margin-top: 0;
        padding: 10px;
    }

    .dbrs-box-srt, .dbrs-box-lng,
    .dbrs-box-srt-res, .dbrs-box-lng-res  {
        float: none;
        width: 100%;
    }

    .dbrs-public-text {
        padding: 45px;
    }

    .dbrs-public-text > h4 {
        font-size: 16px !important;
    }

    .col-goods {
        width: 80%;
        float: none;
        margin: 0 auto;
        margin-bottom: 40px;
    }
}

@media (max-width: 767px) {

}