{# Use base skeleton #}
{% extends 'templates/base.twig' %}

{# Title of page #}
{% block title %}{{ this.data.title }}{% endblock %}

{# Body class #}
{% set bodyClass = 'smp-gnr' %}

{# Content #}
{% block content %}

        <div class="row">
            <div class="col-md-10 col-sm-10 col-xs-12 center-block animated slideInLeft">
                <div class="url-snr-public-text">
                    <h4>Debris | {{ this.data.title }}</h4>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-10 col-sm-10 col-xs-12 center-block">

                <div class="url-snr-public-text" style="padding: 50px 20px;">
                    <h4>Sitemap Generator | Under construction <i class="fa fa-wrench fa-4"></i></h4>
                </div>

            </div>
        </div>

{% endblock %}